<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paneapple.paneapple">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Spalsh_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tutor.Tutor_Login_Screen" />
        <activity android:name=".students.Student_Home_Screen" />
        <activity android:name=".tutor.Tutor_SignUp" />
        <activity android:name=".tutor.Sound_Screen_Tutor_Registration" />
        <activity android:name=".students.Student_SignUp" />
        <activity android:name=".tutor.Login_Home_Screen" />
        <activity android:name=".tutor.Tutor_Home_Screen" />
        <activity android:name=".students.StudentChat_Activity" />
        <activity android:name=".tutor.ChatWithTutorActivity" />
        <activity android:name=".tutor.Find_Tutor" />
        <activity android:name=".students.Student_profile"></activity>
    </application>

</manifest>